{% extends 'base.html' %}


	{% block content %}
<div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div class="loader"></div>
    <div class="page-wrap">
      <!--section-->
      <div class="ps-section--hero"><img src="/static/images/hero/01.jpg" alt="">
        <div class="ps-section__content text-center">
          <h3 class="ps-section__title">Контакты</h3>
          <div class="ps-breadcrumb">
            <ol class="breadcrumb">
              <li><a href="index.html">Главная</a></li>
              <li class="active">Контакты</li>
            </ol>
          </div>
        </div>
      </div>
<div class="ps-section pt-80 pb-80">
        <div class="container">
          <div class="ps-contact ps-contact--2">
            <div class="mb-60" id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94403.27128276501!2d69.71203385820313!3d42.319018299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a8e6d93242b687%3A0x9253f54645e28c91!2sMavzoley%20Ibragim%20Ata!5e0!3m2!1skk!2skz!4v1610353874254!5m2!1skk!2skz" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
            <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-contact__info">
                      {% for filial in filials %}
                      <div class="ps-contact__block">
                        <h4>{{ filial.title }}</h4>
                        <p><strong>{{ filial.address }}</strong></p>
                        <p><i class="fa fa-envelope-o"></i>{{ filial.gmail }}</p>
                        <p><i class="fa fa-phone"></i>{{ filial.phone }}</p>
                            <ul class="ps-contact__social">
                              <li><a href="{{ filial.facebook }}"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="{{ filial.whatsapp }}"><i class="fa fa-whatsapp"></i></a></li>
                              <li><a href="{{ filial.instagram }}"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-contact__form">
                      <form id="request"   action="/" method="post">
                         {% csrf_token %}
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Имя" name="name">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="email" placeholder="Почта" name="email">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Телефон" name="phone">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Сообщения" name="message"></textarea>
                      </div>
                      <div class="form-group text-center mt-30">
                        <button class="ps-btn ps-btn--sm ps-contact__submit">Отправить</button>
                      </div>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}