{% extends 'base.html' %}


{% block content %}
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
        <div class="loader"></div>
        <div class="page-wrap">
          <!-- Heros-->
          <div class="ps-section--hero"><img src="/static/images/hero/02.jpg" alt="">
            <div class="ps-section__content text-center">
              <h3 class="ps-section__title">Продукты</h3>
              <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                  <li><a href="/">Главный</a></li>
                  <li class="active"><a href="/product/?category_id={{ product.category.id }}"> {{ product.category.title }} </a></li>
                </ol>
              </div>
            </div>
          </div>
          <div class="ps-section pt-80 pb-80">
            <div class="container">
              <div class="ps-product--detail">
                <div class="row">
                      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                        <div class="ps-product__thumbnail">
                          {% for best_menu in best_menus %}
                          {% if best_menu.rebate != 0 %}
                            <div class="ps-badge"><span>-{{best_menu.rebate}}%</span></div>
                            {% else %}
                            <div></div>
                          {% endif %}
                          {% endfor %}
                          <div class="owl-slider primary" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">
                            <div class="ps-product__image"><a href="/media/{{ product.photo1 }}"><img src="/media/{{ product.photo1 }}" alt=""></a></div>
                            <div class="ps-product__image"><a href="/media/{{ product.photo2 }}"><img src="/media/{{ product.photo2 }}" alt=""></a></div>
                            <div class="ps-product__image"><a href="/media/{{ product.photo3 }}"><img src="/media/{{ product.photo3 }}" alt=""></a></div>
                          </div>
                          <div class="owl-slider second mb-30" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="20" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;"><img src="/media/{{ product.photo1 }}" alt=""><img src="/media/{{ product.photo2 }}" alt=""><img src="/media/{{ product.photo3 }}" alt=""></div>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                        <header>
                          <h3 class="ps-product__name">{{product.title}}</h3>
                          <select class="ps-rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="5">5</option>
                          </select>
                          <p class="ps-product__price">{{product.new_price}} тенге<del>{{product.old_price}} тенге</del></p><a class="ps-product__quickview popup-modal" href="#quickview-modal" data-effect="mfp-zoom-out"></a>
                          <div class="ps-product__description">
                            <p> <span> <b>Состав:</b> </span> {{ product.description }}</p>
                          </div>
                          <div class="ps-product__meta">
                            <p><span> ДОСТУПНОСТЬ: </span>{% if product.amount != 0 %} Есть в продаже  {% else %} Есть в складе {% endif %}</p>
                            <p class="category"><span>Категория: </span>

                                <a href="/product/?category_id={{ product.category.id }}">{{ product.category.title }}</a>


                          </div>
                          <div class="form-group ps-product__size">
                            <label>Размер: {{product.size}}</label>
                          </div>
                        </header>
                        <footer>
                          <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 "><a class="ps-btn--fullwidth ps-btn" href="/">Вернуть в главную<i class="fa fa-angle-right"></i></a>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12 ">
                                {% for information in informations %}
                                  <p class="ps-product__sharing">Свяжитесь с нами:<a href="{{ information.instagram_info }}"><i class="fa fa-instagram"></i></a><a href="{{ information.whatsapp_info }}"><i class="fa fa-whatsapp"></i></a></p>
                                {% endfor %}
                                </div>
                          </div>
                        </footer>
                      </div>
                </div>
                <div class="ps-product__info">
                  <ul class="tab-list" role="tablist">
                    <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Рецепт</a></li>
                    <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Review</a></li>
                  </ul>
                </div>
                <div class="tab-content mb-60">
                  <div class="tab-pane active" role="tabpanel" id="tab_01">
                    <p>{{product.recipe}}</p>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab_02">
                    <p>1 review for Cupcakes Red Flowers</p>
                    <div class="ps-review-box">
                      <div class="ps-review-box__thumbnail"><img src="/static/images/blog/people.png" alt=""></div>
                      <div class="ps-review-box__content">
                        <header>
                          <select class="ps-rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="5">5</option>
                          </select>
                          <p>By<a href=""> Alena Studio</a> - November 25, 2017</p>
                        </header>
                        <p>Soufflé danish gummi bears tart. Pie wafer icing. Gummies jelly beans powder. Chocolate bar pudding macaroon candy canes chocolate apple pie chocolate cake. Sweet caramels sesame snaps halvah bear claw wafer. Sweet roll soufflé muffin topping muffin brownie. Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie.</p>
                      </div>
                    </div>
                    <form class="ps-product__review" action="_action" method="post">
                      <h4>ADD YOUR REVIEW</h4>
                      <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="form-group">
                                <label>Name:*<span>*</span></label>
                                <input class="form-control" type="text" placeholder="">
                              </div>
                              <div class="form-group">
                                <label>Email: *<span>*</span></label>
                                <input class="form-control" type="email" placeholder="">
                              </div>
                              <div class="form-group">
                                <label>Your rating<span></span></label>
                                <select class="ps-rating">
                                  <option value="1">1</option>
                                  <option value="1">2</option>
                                  <option value="1">3</option>
                                  <option value="1">4</option>
                                  <option value="5">5</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                              <div class="form-group">
                                <label>Your Review:</label>
                                <textarea class="form-control" rows="6"></textarea>
                              </div>
                              <div class="form-group">
                                <button class="ps-btn ps-btn--sm">Submit</button>
                              </div>
                            </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab_03">
                    <p>Add your tag <span> *</span></p>
                    <form class="ps-product__tags" action="_action" method="post">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="">
                        <button class="ps-btn ps-btn--sm">Add Tag</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab_04">
                    <div class="form-group">
                      <textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
                    </div>
                    <div class="form-group">
                      <button class="ps-btn" type="button">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="ps-section ps-section--best-seller pt-40 pb-100">
        <div class="container">
          <div class="ps-section__header text-center mb-50">
            <h4 class="ps-section__top">Сладости</h4>
            <h3 class="ps-section__title ps-section__title--full">Часто продаваемые сладости</h3>
          </div>
          <div class="ps-section__content">
            <div class="owl-slider owl-slider--best-seller" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;ps-icon--back&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;ps-icon--next&quot;&gt;&lt;/i&gt;">
              {% for best_menu in best_menus %}
              <div class="ps-product">
                <div class="ps-product__thumbnail">
                  {% if best_menu.rebate != 0 %}
                  <div class="ps-badge"><span>-{{best_menu.rebate}}%</span></div>
                  {% else %}
                  <div></div>
                  {% endif %}
                  <a class="ps-product__overlay" href="/product/{{ best_menu.id }}/"></a><img src="/media/{{ best_menu.photo }}" alt="">


                </div>
                <div class="ps-product__content"><a class="ps-product__title" href="/product/{{ best_menu.id }}/">{{ best_menu.title }}</a>
                  <div class="ps-product__category"><a class="ps-product__category">{{best_menu.category}}</a>
                  </div>
                  <select class="ps-rating">
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="5">5</option>
                  </select>
                  <p class="ps-product__price">£ {{ best_menu.new_price }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

{% endblock %}